@import "settings.scss";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    position: relative;
    left: 0;
  }